.profile {
	display: flex;
	gap: 40px;

	background-color: #e8f4fc;
	border-radius: 20px;
	padding: 20px;

	min-height: 75vh;
}

.profile__sideBar {
	flex-shrink: 0;
	width: 288px;
}

.profile__clothSection {
	flex: 1;
	min-width: 0;
}

@media screen and (max-width: 900px) {
	.profile {
		gap: 24px;
	}
}

@media screen and (max-width: 627px) {
	.profile {
		flex-direction: column;
		gap: 24px;
	}

	.profile__sideBar {
		width: 100%;
	}

	.profile__clothSection {
		width: auto;
	}
}
